<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>AvantFilter</filter-name>
		<display-name>AvantFilter</display-name>
		<description></description>
		<filter-class>com.company.helloworld.web.AvantFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AvantFilter</filter-name>
		<url-pattern>/DireBonjourServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<display-name>HelloWorldServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DireBonjourServlet</servlet-name>
		<display-name>DireBonjourServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.DireBonjourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bonjour10FoisServlet</servlet-name>
		<display-name>Bonjour10FoisServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.Bonjour10FoisServlet</servlet-class>
		<init-param>
			<param-name>compteur</param-name>
			<param-value>10</param-value>
			<description></description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ConnexionServlet</servlet-name>
		<display-name>ConnexionServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.ConnexionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeconnexionServlet</servlet-name>
		<display-name>DeconnexionServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.DeconnexionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieServlet</servlet-name>
		<display-name>CookieServlet</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.CookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AfficheUtilisateurBean</servlet-name>
		<display-name>AfficheUtilisateurBean</display-name>
		<description></description>
		<servlet-class>com.company.helloworld.web.AfficheUtilisateurBean</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/HelloWorldServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DireBonjourServlet</servlet-name>
		<url-pattern>/DireBonjourServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bonjour10FoisServlet</servlet-name>
		<url-pattern>/Bonjour10FoisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnexionServlet</servlet-name>
		<url-pattern>/ConnexionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeconnexionServlet</servlet-name>
		<url-pattern>/DeconnexionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieServlet</servlet-name>
		<url-pattern>/CookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AfficheUtilisateurBean</servlet-name>
		<url-pattern>/AfficheUtilisateurBean</url-pattern>
	</servlet-mapping>
</web-app>
